.form_container {
  width: 60%;
}
.custom-control-label {
  margin-left: 5px;
}
.form-control-file {
  height: 80px;
  width: 100%;
  cursor: pointer;
}
.label {
  color: gray;
}
.title {
  font-weight: bold;
}
.subText {
  color: gray;
}
.stylized_box {
  border: 2px;
  border-style: dashed;
  border-color: rgb(117, 117, 226);
  background-color: rgb(222, 222, 222);
  padding: 8px;
}
.box {
  border: 1px;
  border-style: solid;
  border-color: grey;
  padding: 8px;
}
.tooltip_custom {
  margin-left: 5px;
  margin-bottom: 1px;
  color: rgb(114, 114, 114);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .form_container {
    width: 75%;
  }
}

@media (max-width: 600px) {
  .form_container {
    width: 85%;
  }
}
