#root {
  max-width: 1280px;
  margin: 0 auto;
}

/* CLASS FOR TESTING ONLY !! DELETE THIS !! */
.bg-color {
  background-color: aqua;
  width: 500px;
}
.bg-color2 {
  background-color: brown;
  width: 200px;
}
