#root {
  max-width: 1570px;
  margin: 0 auto;
}

.responsive_container {
  width: 85%;
  margin-left: 31px;
}
/* CLASS FOR TESTING ONLY !! DELETE THIS !! */

.bg-color2 {
  background-color: brown;
}
.bg-color3 {
  background-color: blueviolet;
}
